APP_USER_ID=1000
APP_GROUP_ID=1000

CONFIG_PATH=./configs
MEDIA_PATH=./media
DATA_PATH=./data
TZ=America/Fortaleza

RADARR_API_KEY=c9bc5fae76254fda8bef673faa8dd757
SONARR_API_KEY=f593d3d4e0c3409c8448779449094b7b