[Desktop Entry]
Type=Service
MimeType=application/zip;application/x-zip-compressed;application/x-7z-compressed;application/x-rar;application/x-tar;application/x-bzip2;application/x-gzip;application/x-zstd;
Actions=extractToSubdir;
X-KDE-Submenu=CUSTOM
X-KDE-Priority=TopLevel

[Desktop Action extractToSubdir]
Name=Extract to Subdirectory
Icon=archive-extract
Exec=bash -c 'DIR="${1%.*}"; mkdir -p "$DIR"; ark --batch --destination "$DIR" "$1"' _ %f
